<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Super dummy app</title>
<style>
body {
  background-image: url('/static/images/background.png');
}
</style>
</head>
<body>

Welcome to this super app<p>

<form id="myForm">
 <label for="textInput">Enter Text:</label>
 <input type="text" id="textInput" name="textInput" placeholder="Send message to {{ url }}">
 <button type="button" onclick="sendMessage()">Send</button>
</form>

<div id="result"></div>

<script>
function sendMessage() {
  var userInput = document.getElementById("textInput").value;
  var xhr = new XMLHttpRequest();
  xhr.open("POST", "http://{{ url }}/echo", true);
  xhr.setRequestHeader("Content-Type", "application/json");
  xhr.onreadystatechange = function () {
    if (xhr.readyState == 4 && xhr.status == 200) {
        document.getElementById("result").innerHTML = xhr.responseText;
    }
  };

  var data = JSON.stringify({ message: userInput });
  xhr.send(data);
}
</script>

</body>
</html>
